{
  "name": "__PKG_NAME__",
  "version": "__VERSION__",
  "description": "Platform binary for @zcrypt/cli (__OS__/__CPU__)",
  "license": "MIT",
  "homepage": "https://zcrypt.cloud",
  "repository": {
    "type": "git",
    "url": "https://github.com/Wosmos/zcrypt.git"
  },
  "os": ["__OS__"],
  "cpu": ["__CPU__"],
  "files": ["bin/"],
  "engines": {
    "node": ">=16"
  }
}
